@charset "utf-8";
/* CSS Document */


#Container {
	height:520px;
	width:684px;
	margin-left:auto;
	margin-right:auto;
}
#Title {
	width:684px;
	height:83px;
}

#Navagation {
	width:684px;
	height:59px;
}
#Content {
	width:684px;
	height:520px;
}
#Column{
	float:left;
	margin:0;
	padding:15px;
	width:141px;
}
#Image{
	height:95px;
	margin-top: 18px;
	margin-bottom: 110px;
	padding-left:36px;
	padding-top:30px;
}
#menu-list {
	margin:0;
	padding:0;

}
#menu-list li{	
	display: inline-block;
	width:120px;
	height:40px;
	float:left;
	margin:1px;
	position:relative;
	padding-top:15px;
	list-style-type:none;
	margin-left:10px;
}
#menu-list li:first-child{
	margin:0;
}
