@charset "utf-8";
/* CSS Document */

.title{
	font-family:Arial, Helvetica, sans-serif;
	font-size:36px;
}
.Content {	
	background-color: #A9A9A9;
}

.Column{
	border:none;
	font-size:9pt;
	font-family:Arial, Helvetica, sans-serif;
}
.Image{
	font-size:24px;
	background-color: #6B6B6B;
	font-family:Arial, Helvetica, sans-serif;
	border-style:solid;
	border-width:medium;
}
.menu-list li{	
	font-size:18px;
	font-family:Arial, Helvetica, sans-serif;
	text-align:center;
	background-color:#666;
}
.menu-list li:link{
	background-color:#CCC;
}

.menu-list li:visited{
	background-color:#EFEFEF;
}

.menu-list li:active{
	background-color:#999;
}

.menu-list li:hover{
	background-color:#EFEFEF;
}
.menu-list a{
	text-decoration:none;
	color:#000;
}