@charset "utf-8";
/* CSS Document */


#Container {
	height:100%;
	width:326px;
	margin-left:auto;
	margin-right:auto;
}
#Title {
	width:100%;
	height:83px;
}

#Navagation {
	width:100%;
	height:59px;
}
#Content {
	width:100%;
	height:100%;
}
#Column{
	padding:15px;
}
#Image{
	height:95px;
	margin-top: 18px;
	margin-bottom: 20px;
	padding-left:100px;
	padding-top:60px;
}
#menu-list {
	margin:0;
	padding:0;

}
#menu-list li{	
	display: inline-block;
	width:73px;
	height:40px;
	float:left;
	margin:1px;
	position:relative;
	padding-top:15px;
	list-style-type:none;
	margin-left:10px;
}
#menu-list li:first-child{
	margin:0;
}
